.rSbN_banner {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/botas.jpg");
}

.rSbN_sombra {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: auto;
}

.rSbN_sombra h1 {
    font-size: 8vw;
    margin-bottom: 10px;
}

.rSbN_sombra p {
    font-size: 4vw;
    margin-bottom: 10px;
}

.rSbN_links {
    margin: 15px;
    position: relative;
}

.rSbN_links a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
    transition: all 1s;
}

.rSbN_links a:hover {
    background-color: blueviolet;
    color: #222;
}